<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Home Page</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="">
  <body>

    <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
      {% if request.COOKIES.id_utente %}
        <a href="{% url 'seguiti' %}" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
      {% endif %}
      <a href="{% url 'home' %}" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
      {% if request.COOKIES.id_utente %}
        <a href="{% url 'newPost' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i></a> 
        <a href="{% url 'profilo' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      {% else %}
        <a href="{% url 'login' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      {% endif %}
    </div>

    <div style="margin-left:70px">

      <div class="w3-container">
        {% block page %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
